cycler==0.10.0
Cython==0.29.17
h5py==2.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.3
Pillow==9.0.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph @ git+https://github.com/pyqtgraph/pyqtgraph@a76d9daec25724c8bf22c61a2ebb3c9b6bff6a4d
python-dateutil==2.8.1
PyYAML==5.4
scipy==1.4.1
six==1.14.0
